{% extends "base.html" %}
{% load static %}

{% block head %}
{% include "base/css.html" %}
{% include "base/js.html" %}
{% endblock %}




{% block content %}
<div class="row mt-5">  
    <div class="col-lg-4 border rounded p-3 mt-3 mx-auto bg-white">
		<div class="row">
			<div class="col-12">
				<a href="#">
					<img src="{% static 'img/verdialogo.PNG' %}" width="100" >
				</a>
			</div>			
		
		</div>
		<hr>
		<!-- <h2 align=center class="alert alert-danger">Verdia Login</h2> -->
	
		<p align=center style="color:red;">{{ request.session.logout_message }}</p>
        <div class="card card-body">
			
            <form class="form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                <div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					<!-- <input type="text" class="form-control" placeholder="username"> -->
					{{ form.email }}
					
				</div>
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>
					<!-- <input type="password" class="form-control" placeholder="password"> -->
					{{ form.password }}
				</div>
				

				<p style="color:red; font-weight: bold;">{{ error_message }}</p>  
                
                <input type="submit" class="btn btn-info" value="Login">
			</form>
			<div class="card-footer mt-3">
				<!-- <div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div> -->
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
        </div>            
    </div>

</div>

{% endblock %}




<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   

	







	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/ex1.css' %}">
</head>
<body style="background-image: url('{% static "img/solarbackground.jpg"%}')";>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<div>
					<a href="#">
	    				<img src="{% static 'img/verdialogo.PNG' %}" width="200" >
	 				 </a>		
 				 </div>		
				<!-- <hr> -->
				<!-- <h3>Sign In</h3> -->
				<!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div> -->
			</div>
			
			
		</div>
	</div>
</div>


</body>
</html>